body {
  background-color: hsla(311,6%,35%,1);
  background-image: url(../images/image.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  font-family: 'Oxygen', sans-serif;

}
hr {
  height:2px;
  background-color: hsla(0,0%,85%,1);
  max-width: 960px;
  width: 80%;

}
  h1 {
        color: #fff;
    margin: 0 auto;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 70px;
  }

header {
  img{
    width: 100%;
  }
}

// Menu Styles



.section1 {
  text-align: center;
    margin: 30px auto; 
 
  img {
    max-width:350px;
    width: 90%;
    border: 30px solid #d9d9d9;
   -webkit-box-shadow: -4px -9px 120px -4px hsla(0,0%,89%,0.75);
-moz-box-shadow: -4px -9px 120px hsla(0,0%,89%,0.75);
box-shadow: -4px -9px 120px -4px hsla(0,0%,89%,0.75);


  
 }
  

 
}

.section2 {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
    color: #fff;
  h1 {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }

  p {
    font-size: 18px;
    margin: 15px auto;
    text-align:center;
  }

  .under {
    font-size: 52px;
    font-family: 'Tangerine', cursive;


  }
}

#engagement {
  margin: 0 auto;
  text-align: center;
  color: #fff;


  .row {
    margin-top: 30px;

    h3 {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    }
    h5 {
      font-family: 'Tangerine', cursive;
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
  }
}

.reg {
    text-align: center;
  img {
    width: 250px;
    margin: 0 auto;
    background-color: hsla(0,0%,85%,0.3);
    padding: 10px;
    &:hover {
      background-color: hsla(0,0%,85%,0.8);
    }
  }

}


footer {
  img{
    width: 100%;
    -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
  }
}